* {
  padding: 0;
  margin: 0;
  font-family: Times New Roman;
}

body {
  min-height: 1200px;
  overflow-y: scroll;
  background: #6D5D6E;
}

.nav {
  display: flex;
  position: fixed;
  top: 100px;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

a {
  position: relative;
  margin: 15px;
  background: #4F4557;
  border: none;
}
  
button {
  padding: 10px 10px;
  text-decoration: none;
  align-items: center;
  font-size: 15px;
  background: none;
}

a:hover{
  background: transparent;
}

.active {
  background-color: #393646;
  transform: translateY(2px);
}

.intro {
  font-size: 20px;
  position: relative;
  top: 300px;
  text-align: center;
}

.about {
  display: flex;
  position: relative;
  top: 120px;
  width: 30%;
  height: 320px;
  box-shadow: 0px 0px 20px #393646;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  justify-content: center;
  
}

#about-me {
  display: flex;
  position: relative;
  top: 0px;
  left: 50px;
  padding: 0px;
  width: 70%;
  margin-bottom: 285px;
  padding-bottom: 0px;
  border-bottom: 1px solid;
  font-size: 25px;
}

#bio {
  position: absolute;
  top: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 50px;
}

#name {
  font-weight: bold;
}

#hobbies {
  display: flex;
  position: relative;
  top: 170px;
  right: 60px;
  width: 23%;
  padding: 0px;
  margin-bottom: 220px;
  padding-bottom: 0px;
  border-bottom: 1px solid;
  font-size: 20px;
}

#hob-int {
  position: relative;
  bottom: 30px;
  right: 40px;
  text-align: left;
}

#education {
  position: absolute;
  top: 400px;
  width: 100%;
  height: 250px;
  box-shadow: 0px 0px 20px #393646;
}

#educ {
  display: flex;
  position: relative;
  width: 25%;
  top: 20px;
  left: 60px;
  padding: 0px;
  margin: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  font-size: 25px;
}

h3 {
  position: relative;
  top: 40px;
  left: 0px;
}

#courses {
  display: flex;
  position: relative;
  width: 50%;
  top: 60px;
  left: 60px;
  padding: 0px;
  margin: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  font-size: 20px;
}

#univ-courses {
  position: relative;
  top: 80px;
  left: 85px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 15px;
}

.skills {
  position: absolute;
  top: 300px;
  width: 100%;
  height: 220px;
  box-shadow: 0px 0px 20px #393646;
}

#skills {
  position: relative;
  top: 20px;
  left: 60px;
  width: 25%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 30px;
  border-bottom: 1px solid;
}

#soft-skills {
  position: absolute;
  top: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 50px;
}

#essential-skills {
  position: absolute;
  top: 40px;
  left: 55px;
  justify-content: center;
  text-align: left;
  align-items: center;
  margin-top: 15px;
  padding: 50px;
}

.contact {
  display: flex;
  position: relative;
  top: 120px;
  width: 30%;
  height: 100px;
  box-shadow: 0px 0px 20px #393646;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.get-in-touch {
  display: grid;
  place-items: center;
  text-decoration: none;
  font
}

.projects {
  display: flex;
  position: relative;
  top: 120px;
  width: 20%;
  height: 50px;
  box-shadow: 0px 0px 20px #393646;
  margin: 80px auto;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.typing {
  font-size: 30px;
  background: #393646;
  font-family: Monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  max-width: 0;
  padding-top: 10px;
  border-right: 2px solid black;
  animation: typing 4s steps(12, end) forwards;
  height: 50px;
}

.cs {
  font-size: 30px;
  font-family: Monospace;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
  border-right: 1.5px solid black;
  animation: typing 2s steps(12, end) forwards;
  height: 40px;
}

@keyframes typing {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 450px; 
  }
}

.yr {
  position: fixed;
  top: 10000px;
  left: 0px;
  width: 100%;
  text-align: center;
}

  
  
  
